{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '4-col-portfolio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '4-col-portfolio/css/4-col-portfolio.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/yolo">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <style>
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
  <a href="#"><img class="card-img-top center" src="https://images-na.ssl-images-amazon.com/images/I/91cBBjTizmL.jpg" alt="" style="width:400px;height:600px;" ></a>

  <p align="center">
      Rich Dad Poor Dad is a treasure trove of financial wisdom. In the book Robert Kyosaki discusses<br>
      the lessons that he learned growing up from his "Rich dad" and how he applied those lessons to<br>
      earn a fortune. These are the lessons that the wealthy teach their children. The book lightly <br>
      discusses topics such as real estate investing, small cap stocks, tax leins and more, but none<br>
      of these are covered in much detail (the author does recommend numerous other books that cover <br>
      these topics in more details).<br>

      Overall Rich Dad Poor Dad is an easy read with strong financial philosophies that anyone can follow<br>
      to acquire wealth.<br>
  </p>

  <h6>
      <p>Rating: 9.5/10 </p>
  </h6>

{% include "copyRight.html" %}